<div ng-class="htmlOrientationStyle" layout="{{screenOrientation}}">
  <!--Page info bar-->
  <div class="pageInfoStyle" flex-order="{{flexOrderPageinfo}}" layout="{{PageInfoLayout}}" ng-hide="hideSideBar">
    <div ng-style="dataFeed.logo" class="PageLogoStyle" flex-order="1"></div>
    <div flex-order="2" layout="column" class="PageInfoValueStyle">
      <div flex-order="1" class="PageDescriptionContainer" layout="column" layout-align="center center">
        <P class="md-body-1 PageDescriptionText">{{dataFeed.description}}</P>
      </div>
      <div layout="{{PageInfoValuesLayout}}" flex-order="2" class="PageInfoContainer">
        <div flex-order="1" class="PageInfoCell" layout="row" layout-align="start center">
          <div class="sideBarIcon1" ng-style="dataFeed.value1Icon"></div>
          <div layout="column" layout-align="start start">
            <label class="md-body-1 PageLabelText">{{dataFeed.value1}}</label>
            <label class="PageLabelText">{{dataFeed.value1Text}}</label>
          </div>
        </div>
        <div flex-order="2" class="PageInfoCell" layout="row" layout-align="start center">
          <div class="sideBarIcon2" ng-style="dataFeed.value2Icon"></div>
          <div layout="column" layout-align="start start">
            <label class="md-body-1 PageLabelText">{{dataFeed.value2}}</label>
            <label class="PageLabelText">{{dataFeed.value2Text}}</label>
          </div>
        </div>
        <div flex-order="3" class="PageInfoCell" layout="column" layout-align="center center">
          <label class="md-subhead dateText" >{{currentDate | date : 'EEEE d MMMM'}}</label>
          <label class="md-headline timeText" current-time></label>
        </div>
      </div>
    </div>
    <div flex-order="3" class="sideBarRowScalaLogo"></div>
  </div>
  <!--Page Posts Information-->
  <div class="PagePostsStyle" layout="column" flex-order="{{flexOrderPagePosts}}" ng-style="maxWindow">
    <div class="pageCoverContainer" layout="column" layout-align="end end" ng-style="dataFeed.cover" ng-hide="hideSideBar">
      <div ng-style="dataFeed.logoOverlay" class="facebookLogo" ng-if="dataFeed.hasCover === true"></div>
    </div>
    <div class="postGridContentContainer" ng-style="maxWindow" layout="column" layout-align="center center">
        <md-grid-list md-cols="{{gridColumns}}" md-gutter="1.4vh" md-row-height="{{gridRowHeight}}" class="gridListSize">

          <!-- vertical big tile without borders-->
          <md-grid-tile id="big1" class="postGridTileFormat" ng-class="effect" ng-repeat="item in postItems" md-rowspan="1" ng-if="tileSize === 'big' && htmlOrientationStyle === 'portrait' && hideSideBar === true">
            <div layout="column" class="bigTileMainContainer">
              <div class="bigTileImageContainer2" ng-style="item.mediaItems[0].style">
                <div layout="column" layout-align="center center"  class="bigTileDateContainer">
                  <label class="md-caption bigTileDateText">{{item.creationDate | date : item.dateFormat}}</label>
                </div>
              </div>
              <div class="bigTilePostTextContainer2">
                <p class="md-subhead bigTilePostText2">{{item.text}}</p>
              </div>
              <div layout="row" layout-align="center center" class="bigTileMainValueContainer">
                <div class="bigTileValueContainer" layout="row" layout-align="start center">
                  <div class="bigTileIcon" ng-style="item.value1Icon"></div>
                  <div class="bigTileFooterTextContainer" layout="row" layout-align="start center">
                    <label class="md-caption bigTileFooterText">{{item.value1}}</label>
                  </div>
                </div>
                <div class="bigTileValueContainer" layout="row" layout-align="start center">
                  <div class="bigTileIcon" ng-style="item.value2Icon"></div>
                  <div class="bigTileFooterTextContainer" layout="row" layout-align="start center">
                    <label class="md-caption bigTileFooterText">{{item.value2}}</label>
                  </div>
                </div>
                <div class="bigTileValueContainer" layout="row" layout-align="start center">
                  <div class="bigTileIcon" ng-style="item.value3Icon"></div>
                  <div class="bigTileFooterTextContainer" layout="row" layout-align="start center">
                    <label class="md-caption bigTileFooterText">{{item.value3}}</label>
                  </div>
                </div>
              </div>
            </div>
          </md-grid-tile>

          <!-- vertical big tile border -->
          <md-grid-tile id="big2" class="postGridTileFormat" ng-class="effect" ng-repeat="item in postItems" md-rowspan="1" ng-if="tileSize === 'big' && htmlOrientationStyle === 'portrait' && hideSideBar === false">
            <div layout="column" class="bigTileMainContainer">
              <div class="bigTileImageContainer" ng-style="item.mediaItems[0].style">
                <div layout="column" layout-align="center center"  class="bigTileDateContainer">
                  <label class="md-caption bigTileDateText">{{item.creationDate | date : item.dateFormat}}</label>
                </div>
              </div>
              <div class="bigTilePostTextContainer">
                <p class="md-subhead bigTilePostText">{{item.text}}</p>
              </div>
              <div layout="row" layout-align="center center" class="bigTileMainValueContainer">
                <div class="bigTileValueContainer" layout="row" layout-align="center center">
                  <div class="bigTileIcon" ng-style="item.value1Icon"></div>
                  <div class="bigTileFooterTextContainer" layout="column" layout-align="center start">
                    <label class="md-caption bigTileFooterText">{{item.value1}}</label>
                  </div>
                </div>
                <div class="bigTileValueContainer" layout="row" layout-align="center center">
                  <div class="bigTileIcon" ng-style="item.value2Icon"></div>
                  <div class="bigTileFooterTextContainer" layout="column" layout-align="center start">
                    <label class="md-caption bigTileFooterText">{{item.value2}}</label>
                  </div>
                </div>
                <div class="bigTileValueContainer" layout="row" layout-align="center center">
                  <div class="bigTileIcon" ng-style="item.value3Icon"></div>
                  <div class="bigTileFooterTextContainer" layout="column" layout-align="center start">
                    <label class="md-caption bigTileFooterText">{{item.value3}}</label>
                  </div>
                </div>
              </div>
            </div>
          </md-grid-tile>

          <!-- horizontal big tile without borders -->
          <md-grid-tile id="big3" class="postGridTileFormat" ng-class="effect" ng-repeat="item in postItems" md-rowspan="1" ng-if="tileSize === 'big' && htmlOrientationStyle === 'landscape' && hideSideBar === true">
            <div layout="row" class="bigTileMainContainer">
              <div layout="column" layout-align="center center" class="bigTileGridContainer2" flex-order="{{item.textPosition}}">
                <div class="bigTileTableHeader" layout="column" layout-align="center center">
                  <label class="md-caption bigTileHeaderText">{{item.creationDate | date : item.dateFormat}}</label>
                </div>
                <div class="bigTileMiddleContainer">
                  <p class="md-subhead bigTileMiddleText">{{item.text}}</p>
                </div>
                <div layout="row" class="bigTileTileFooter">
                  <div layout="row" class="bigTileFooterValueContainerLeft" layout-align="center center">
                    <div class="bigTileIcon1" ng-style="item.value1Icon"></div>
                    <div class="bigTileFooterTextContainer">
                      <label class="md-caption bigTileFooterTextBig">{{item.value1}}</label>
                    </div>
                  </div>
                  <div layout="column" class="bigTileFooterValueContainerLeft" layout-align="center center">
                    <div layout="row" layout-align="center center" style="width:100%;height: 50%">
                      <div class="bigTileIcon2" ng-style="item.value2Icon"></div>
                      <div class="bigTileFooterTextContainer">
                        <label class="md-caption bigTileFooterTextSmall">{{item.value2}}</label>
                      </div>
                    </div>
                    <div layout="row" layout-align="center center" style="width:100%;height: 50%">
                      <div class="bigTileIcon3" ng-style="item.value3Icon"></div>
                      <div class="bigTileFooterTextContainer">
                        <label class="md-caption bigTileFooterTextSmall">{{item.value3}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-style="item.mediaItems[0].style" flex-order="{{item.imagePosition}}" class="bigTileImageContainer2"></div>
            </div>
          </md-grid-tile>

          <!-- horizontal big tile border -->
          <md-grid-tile id="big4" class="postGridTileFormat" ng-class="effect" ng-repeat="item in postItems" md-rowspan="1" ng-if="tileSize === 'big' && htmlOrientationStyle === 'landscape' && hideSideBar === false">
            <div layout="row" class="bigTileMainContainer">
              <div layout="column" layout-align="center center" class="bigTileGridContainer" flex-order="{{item.textPosition}}">
                <div class="bigTileTableHeader" layout="column" layout-align="center center">
                  <label class="md-caption bigTileHeaderText">{{item.creationDate | date : item.dateFormat}}</label>
                </div>
                <div class="bigTileMiddleContainer">
                  <p class="md-subhead bigTileMiddleText">{{item.text}}</p>
                </div>
                <div layout="row" class="bigTileTileFooter">
                  <div layout="row" class="bigTileFooterValueContainerLeft" layout-align="center center">
                    <div class="bigTileIcon1" ng-style="item.value1Icon"></div>
                    <div class="bigTileFooterTextContainer">
                      <label class="md-caption bigTileFooterTextBig">{{item.value1}}</label>
                    </div>
                  </div>
                  <div layout="column" class="bigTileFooterValueContainerLeft" layout-align="center center">
                    <div layout="row" layout-align="center center" style="width:100%;height: 50%">
                      <div class="bigTileIcon2" ng-style="item.value2Icon"></div>
                      <div class="bigTileFooterTextContainer">
                        <label class="md-caption bigTileFooterTextSmall">{{item.value2}}</label>
                      </div>
                    </div>
                    <div layout="row" layout-align="center center" style="width:100%;height: 50%">
                      <div class="bigTileIcon3" ng-style="item.value3Icon"></div>
                      <div class="bigTileFooterTextContainer">
                        <label class="md-caption bigTileFooterTextSmall">{{item.value3}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-style="item.mediaItems[0].style" flex-order="{{item.imagePosition}}" class="bigTileImageContainer"></div>
            </div>
          </md-grid-tile>

          <!-- normal tile -->
          <md-grid-tile id="normal" class="postGridTileFormat" ng-class="effect" ng-repeat="item in postItems" md-rowspan="1" ng-if="tileSize === 'normal'">
            <div layout="row" class="normalTileMainContainer">
              <div layout="column" layout-align="center center" class="normalTileGridContainer" flex-order="{{item.textPosition}}">
                <div class="normalTileTableHeader" layout="column" layout-align="center center">
                  <label class="md-caption normalTileHeaderText">{{item.creationDate | date : item.dateFormat}}</label>
                </div>
                <div class="normalTileMiddleContainer">
                  <p class="md-subhead normalTileMiddleText">{{item.text}}</p>
                </div>
                <div layout="row" class="normalTileTileFooter">
                  <div layout="row" class="normalTileFooterValueContainer" layout-align="start center">
                    <div class="normalTileIcon" ng-style="item.value1Icon"></div>
                    <div class="normalTileFooterTextContainer" layout="row" layout-align="start center">
                      <label class="md-caption normalTileFooterText">{{item.value1}}</label>
                    </div>
                  </div>
                  <div layout="row" class="normalTileFooterValueContainer" layout-align="start center">
                    <div class="normalTileIcon" ng-style="item.value2Icon"></div>
                    <div class="normalTileFooterTextContainer" layout="row" layout-align="start center">
                      <label class="md-caption normalTileFooterText">{{item.value2}}</label>
                    </div>
                  </div>
                  <div layout="row" class="normalTileFooterValueContainer" layout-align="start center">
                    <div class="normalTileIcon" ng-style="item.value3Icon"></div>
                    <div class="normalTileFooterTextContainer" layout="row" layout-align="start center">
                      <label class="md-caption normalTileFooterText">{{item.value3}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-style="item.mediaItems[0].style" flex-order="{{item.imagePosition}}" class="normalTileImageContainer"></div>
            </div>
          </md-grid-tile>

          <!-- small tile -->
          <md-grid-tile id="small" class="postGridTileFormat" ng-class="effect" ng-repeat="item in postItems" md-rowspan="1" ng-if="tileSize === 'small'">
          <div layout="column" class="smallTileMainContainer">
              <div class="smallTileImageContainer" ng-style="item.mediaItems[0].style" ng-if="item.imageFound">
                <div class="smallTileDateContainer" layout="column" layout-align="center center">
                  <label class="md-caption smallTileText">{{item.creationDate | date : item.dateFormat}}</label>
                </div>
              </div>
              <div class="smallTileImageContainer" ng-style="item.textBackground" ng-if="item.imageFound === false">
                <div class="smallTileDateContainer" layout="column" layout-align="center center">
                  <label class="md-caption smallTileText">{{item.creationDate | date : item.dateFormat}}</label>
                </div>
				<div style="height:93%;text-align:left;padding:5%">
					<p class="md-subhead smallTileText2">{{item.fullText}}</p>
				</div>
              </div>
              <div class="smallTileTextContainer" layout="row">
                <div style="width:10%;height:100%" ng-style="item.providerLogo"></div>
				<div style="width:80%;height:100%;padding: 0% 0% 0% 2%">
					<p class="md-subhead smallTileText" ng-if="item.imageFound">{{item.text}}</p>
				</div>
              </div>
            </div>
          </md-grid-tile>

        </md-grid-list>
    </div>
  </div>
</div>
