body{
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
}

#wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

