<md-toolbar md-theme={{themeSelect}} md-theme-watch layout="row" layout-align="center center" class="topContent">
  <label class="md-headline fontStyle titleText">{{dataFeed.city}}</label>
</md-toolbar>
<md-content class="middleContent" md-theme={{themeSelect}} md-theme-watch layout-align="center center" layout="column">
  <div class="ConditionsWeatherIconContainer" layout="row" layout-align="center center">
    <img ng-src={{dataFeed.current_icon}} alt={{dataFeed.current_icon}} class="ConditionsWeatherIcon">
  </div>
  <div class="md-display-4 fontStyle ConditionsTempContainer" layout="row" layout-align="center center">
    <label class="ConditionsTempText" ng-bind-html="dataFeed.current_temp"></label>
  </div>
  <div class="ConditionsValuesContainer" layout="row" layout-align="center center">
    <div layout="row" layout-align="center center" class="ConditionsValuesIconContainer">
      <object class="ConditionsValuesIcon" type="image/svg+xml" data="app/assets/conditions/humidity.svg"></object>
    </div>
    <div layout="row" layout-align="center center">
      <label class="md-display-1 fontStyle ConditionsValuesText">&nbsp;{{dataFeed.current_hum}}</label>
    </div>
    <div class="ConditionsValuesSeperator"></div>
    <div layout="row" layout-align="center center" class="ConditionsValuesIconContainer">
      <object class="ConditionsValuesIcon" type="image/svg+xml" data="app/assets/conditions/windSpeed.svg"></object>
    </div>
    <div layout="row" layout-align="center center">
      <label class="md-display-1 fontStyle ConditionsValuesText">&nbsp;{{dataFeed.current_wind}}</label>
    </div>
    <div class="ConditionsValuesSeperator"></div>
    <div layout="row" layout-align="center center" class="ConditionsValuesIconContainer">
      <object class="ConditionsValuesIcon" type="image/svg+xml" data="app/assets/conditions/windDirection.svg"></object>
    </div>
    <div layout="row" layout-align="center center">
      <label class="md-display-1 fontStyle ConditionsValuesText">&nbsp;{{dataFeed.current_wind_dir}}</label>
    </div>
  </div>
</md-content>
<md-content class="bottomContent" md-theme={{themeSelect}} md-theme-watch>
  <md-grid-list md-cols="4" md-gutter="0px" md-row-height="100%" class="hideLandscape" class="Grid">
    <md-grid-tile class="GridTile" ng-repeat="item in dataFeed.forecast">
      <div layout="column" layout-align="center center">
        <label class="md-display-1 fontStyle forecastText">{{item.date | date:item.date_format}}</label>
        <img ng-src={{item.icon}} alt={{item.icon}} class="forecastImage">
        <label class="md-display-1 fontStyle forecastText" ng-bind-html="item.minmax"></label>
      </div>
    </md-grid-tile>
  </md-grid-list>
  <md-grid-list md-cols="1" md-gutter="0px" md-row-height="25%" class="hidePortrait" class="Grid">
    <md-grid-tile class="GridTile" ng-repeat="item in dataFeed.forecast">
      <div layout="row" layout-align="center center">
        <label class="md-display-1 fontStyle forecastText">{{item.date | date:item.date_format}}&nbsp;</label>
        <img ng-src={{item.icon}} alt={{item.icon}} class="forecastImage">
        <label class="md-display-1 fontStyle forecastText" ng-bind-html="item.minmax"></label>
      </div>
    </md-grid-tile>
  </md-grid-list>
</md-content>
